[Desktop Entry]
Name=Android Studio
Comment=Code Editing for Android.
GenericName=Text Editor
Exec=/home/jn/.local/bin/android-studio %F
Icon=/home/jn/.local/lib/android-studio/bin/studio.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;application/java-archive;
Keywords=andoid;studio;
