[Desktop Entry]
Name=Android Studio
Comment=Code Editing for Android.
GenericName=Text Editor
Exec=/opt/android-studio/bin/studio.sh %F
Icon=/opt/android-studio/bin/studio.svg
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;application/java-archive;
Keywords=andoid;studio;
