[Desktop Entry]
Name=IntelliJ IDEA
Comment=Code Editing for Java.
GenericName=Text Editor
Exec=/opt/idea/bin/idea.sh %F
Icon=/opt/idea/bin/idea.svg
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;application/java-archive;
Keywords=idea;
