[Desktop Entry]
Name=PyCharm
Comment=Code Editing for Python.
GenericName=Text Editor
Exec=/opt/pycharm/bin/pycharm %F
Icon=/opt/pycharm/bin/pycharm.svg
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Keywords=pycharm;
