[Desktop Entry]
Name=PyCharm
Comment=Code Editing for Python.
GenericName=Text Editor
Exec=/home/jn/.local/bin/pycharm %F
Icon=/home/jn/.local/lib/pycharm-community-2022.1/bin/pycharm.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Keywords=pycharm;
